h1 {
  text-align: center;
  color: white;
}

div {
  color: white;
}

html {
  background-color: #081B33;
  margin: 0;
}

.App {
  margin: 0;
  position: fixed;
  width: 100%;
  overflow: scroll;
  /* min-height: 100vh; */
  font-family: 'Nanum Gothic', sans-serif;
}