.DashboardBody {
    /* margin-top: 95px; */
    margin: 95px 15px 15px 15px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 5px
}

.Buttons {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 5px
}

.Transactions {
    flex: 2;
    overflow-y: scroll;
    min-width: 255px;
    height: 483px;
    margin-left: 15px
}

@media screen and (max-width: 500px) {
    .DashboardBody {
        margin-top: 75px;
    }
    .Transactions {
        margin-left: 0;
    }
}