.PanelTitle {
    font-size: 20px;
}

.PanelSubtitle {
    font-size: 15px;
    color: #CCC;
}

.Dropdown {
    margin-bottom: 5px;
}

.notPaid {
    color: #700010;
    font-weight: bold;
}

.paid {
    color: #66cc99;
}

.amountDisplay {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #CCC;
    font-size: 15px;
}

@media screen and (max-width: 400px) {
    .PanelTitle {
        font-size: 15px;
    }

    .PanelSubtitle {
        font-size: 10px;
    }

    .amountDisplay {
        font-size: 10px;
        /* justify-content: flex-end */
        /* padding-top: 5px; */
    }
}