.PanelTitle {
    font-size: 20px;
}

.PanelSubtitle {
    font-size: 15px;
    color: #CCC;
}

.notPaid {
    color: #700010;
    font-weight: bold;
}

.paid {
    color: #66cc99;
}

@media screen and (max-width: 400px) {
    .PanelTitle {
        font-size: 15px;
    }

    .PanelSubtitle {
        font-size: 10px;
    }
}